<form action="/admin/course/handle-form-action" method="POST" name="conatainer-form" class="conatainer-form">
   <h1 class="text-center">LIST COURSES</h1>
   <div class="d-flex justify-content-between">
      <a href="/admin/course/create" class="btn btn-outline-primary ">Thêm mới khóa học</a>
      <a href="/admin/course/bin" class="btn btn-warning ">Khóa học đã xóa ({{deleteCount}})</a>
   </div>
   <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
         <input class="form-check-input" type="checkbox" id="checkboxAll">
         <label class="form-check-label" for="checkboxAll">
            Select all
         </label>
      </div>
      <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
         <option selected value="">--Choose Action</option>
         <option value="delete">Delete</option>

      </select>
      <button class="btn btn-primary btn-sm disabled btn-check-submit" id="">Action</button>
   </div>
   <table class="table mt-4">
      <thead>
         <tr>
            <th>#</th>
            <th scope="col">#</th>
            <th scope="col">Img</th>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         {{#each courses}}

         <tr>
            <td>
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="cousersIds[]" value="{{this._id}}">
               </div>
            </td>
            <th scope="row">{{sum @index 1}}</th>
            <td><img src="{{this.image}}" alt="" width="100" height="100"></td>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>
               <button class="btn btn-danger delete" data-id="{{this._id}}">Delete</button>
               <a href="/admin/course/{{this._id}}/edit" class="btn btn-warning">Edit</a>
            </td>
         </tr>
         {{else}}
         <tr>
            <td colspan="5" class="text-center">No Record</td>
         </tr>
         {{/each}}

      </tbody>
   </table>
</form>
{{!-- confirm --}}
<form action="" id="deleteForm" method="POST"></form>
<script>

   const btnDels = document.querySelectorAll(".delete");
   const deleteForm = document.querySelector("#deleteForm");
   const checkboxAll = $('#checkboxAll');
   const checkItems = $('input[name="cousersIds[]"]');
   const btnCheckSubmit = $('.btn-check-submit');
   const conatainerForm = $('.conatainer-form');

   console.log(conatainerForm)

   btnDels.forEach(del => {
      const id = del.dataset.id;
      del.addEventListener("click", () => {
         const confirm = window.confirm("Are you sure you want to delete this course?");
         if (confirm) {
            deleteForm.action = "/admin/course/" + id + "?_method=DELETE";
            deleteForm.submit();
         }
      })
   });

   checkboxAll.change(function () {
      //check all true, false 
      let isChecked = $(this).prop('checked');
      checkItems.prop('checked', isChecked);
      renderCheckAllBtn();
   });

   //check trg hợp 
   checkItems.change(function () {
      let isCheckAll = checkItems.length === $('input[name="cousersIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckAll);
      renderCheckAllBtn();
   });

   //requied btn submit 
   btnCheckSubmit.on('submit', function (e) {
       let isSubmitable = !$(this).hasClass('disabled')
      if (!isSubmitable) {
         e.preventDefault();
      }
   })



   //re-render check all submit btn 
   function renderCheckAllBtn() {
      let checkedCount = $('input[name="cousersIds[]"]:checked').length;
      if (checkedCount > 0) {
         btnCheckSubmit.removeClass('disabled')
      } else {
         btnCheckSubmit.addClass('disabled')
      }
   }


</script>